<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>SaveNoteServlet</servlet-name>
  	<servlet-class>com.servlets.SaveNoteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SaveNoteServlet</servlet-name>
  	<url-pattern>/SaveNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
